*, *:before, *:after {
  box-sizing: border-box;  margin: 0;
  padding: 0;
}

@font-face {
  font-family: fontawesome;
  src: url(../fonts/fontawesome.ttf);
}
/* The Magic */
.accordion{
  transform: translateZ(0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 0;
  width: auto;
  margin:0;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 240px;
    padding-top: 10px;
    display: flex;
}

.accordion > .accordion-toggle{
	position: absolute;
	opacity: 0;
	display: none;
}
.accordion .accordion-item {

  border-bottom: 1px solid #666;
  padding: 1em;
}
.accordion > label{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-top: 1px solid black;
	background: antiquewhite;
	cursor: pointer;
}
.accordion > section{
  height: 0;
  transition: .3s all;
  overflow: hidden;
}
.accordion section img {
  position: relative;
}
.accordion > label:after {
  content: '\f078';
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: .3s transform;
}

.accordion p{
  padding-right: 32px;
}
.accordion > .accordion-toggle:checked ~ label:after{
 transform: rotate(0deg);
}

.accordion > .accordion-toggle:checked ~ section{
  height: 100%;
}

.accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
  line-height: 1.5;
  text-align: -webkit-center;
}
.accordion p {
  font-size: large;
  font-weight: normal;
}

section {
  text-align: -webkit-center;
}
#programs {
  width: 50%;
  height:auto;
}

@media only screen and (max-width: 425px) {
  .accordion{
    width: 100%;
  }
}
