.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding: 17px 0 6px;
  background: hidden;
  overflow: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.logo {
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  border: 3px solid;
    padding: 5px;
}

nav {
  float: right;
  width: 60%;
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


#tall{
  height: 2000px;
  background-color: lavenderblush;
}


@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}