* {box-sizing: border-box; font-family: 'Raleway', sans-serif;}

body{margin: 0; padding:0;}	

a{text-decoration: none;}

/* Header Styling */
	.main_h {
		position: fixed;
		max-height: 70px;
		z-index: 999;
		width: 100%;
		padding-top: 17px;
		background: none;
		overflow: hidden;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		padding-bottom: 6px;
		font-weight: bold;
		background-color: rgba(255, 255, 255, 0.93);
		opacity: 1;
		top: 0px;
		border-bottom: 1px solid gainsboro;
	}

	.open-nav {
		max-height: 400px !important;
	}
	.open-nav .mobile-toggle {
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}

	.logo {
		font-size: 25px;
		color: black;
		text-transform: uppercase;
		float: left;
		display: block;
		margin-top: 0;
		line-height: 1;
		margin-bottom: 10px;
		border: 3px solid;
		padding: 5px;
	}
	nav {
  		float: right;
  		width: 60%;
	}
	nav ul {
		list-style: none;
		overflow: hidden;
		text-align: right;
		float: right;
	}
	nav ul li {
		display: inline-block;
		margin-left: 35px;
		line-height: 1.5;
	}
	nav ul a {
		color: black;
		text-transform: uppercase;
		font-size: 16px;
	}

	#active{
		color: #1A81CB;
	}

	.mobile-toggle {
		display: none;
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		right: 22px;
		top: 0;
		width: 30px;
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}
	.mobile-toggle span {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		border-radius: 1000px;
		background: #8f8f8f;
		display: block;
	}

	.row {
		width: 100%;
		max-width: 940px;
		margin:0 auto;
		position: relative;
		padding:0 2%;
	}
	#tall{
		height: 2000px;
		background-color: lavenderblush;
	}
/* End of Header styling */

/* Container Styling*/
	.content-container{width:100%;min-height:250px; background:linear-gradient(#FFF,#EFEFEF);}
	/* First Container Styling - About */

	/* End of First Container Styling - About*/

	/* Second Container Styling - About + Programs */
		.second-container{width:50%;display:inline-flex; border-right:1px solid lightgrey;}

		/* About Us Stylings */
			#abt h1 {
				letter-spacing: 9px;
				text-align: center;
			}
			#about_us {
				width: 50%;
				float: left;
				padding-top: 20px;
			}
			#abt h4, h5 {
				text-align: -webkit-center;
				letter-spacing: 1px;
			}
			#abt {
				text-align: justify;
				height: 480px;
				padding-top: 20px; 
			}
		/* End of About Us Stylings */
		/* Programs Stylings */
			/* The Magic - Accordion Styling */
				.accordion:active .accordion-item:hover .accordion-item-content,
				.accordion .accordion-item--default .accordion-item-content {
				    height: 340px;
				    padding-top: 30px;
				    display: flex;
				}

				.accordion-item-content,
				.accordion:active .accordion-item-content {
				    height: 0;
				    overflow: hidden;
				    transition: height .5s;
				}
			/* End of Accordion Styling */


		/* End of Programs Stylings */

	/* End of Second Container Styling - About + Programs */
/* End of Container Styling */
#center{
	text-align: center;
	background-color: rgba(255,255,255,.5);
}
#center h1{
	margin-bottom: 50px;
	letter-spacing: 9px;
}

#center p{
	width: 1100px;
}
h1{
	text-transform: uppercase;
}
p{
	font-size: 20px;
	line-height: 42px;
	font-weight: bold;
	margin: auto;
}
#about,#programs,#location,#four,#partners,footer{
	padding: 20px;
}
#about{
	background: url(../images/enter.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 70px;
}
#programs img{
	width: 300px;
}
#eh h1{
	letter-spacing: 9px;
}
#eh{
	text-align: center;
}
#location{
	background-color: #EDEDED;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#location h1{
	letter-spacing: 9px;
}
#info{
	margin: auto;

}
#map{
	width: 600px;
	height: 300px;
	margin: auto;
}
#partners{
	text-align: center;
	padding: 40px;
}
#partners h1{
	font-size: 20px;
	margin-bottom: 40px;
	letter-spacing: 9px;
}
#fade-right {
}
#contact{
	width: 80%;
	margin: auto;
	display: flex;
}
textarea{
	height: 150px;
	width: 300px;
	max-height: 150px;
	max-width: 300px;
	font-size: 18px;
}
#four{
background-color: #EDEDED;
}
#four h1{
	text-align: center;
	letter-spacing: 9px;

}
#left{
	width: 70%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 24px;
	padding-top: 20px;
}
#right{
	width: 30%;
}

button{
	width: 80px;
	height: 40px;
	border: 2px solid #303030;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #EDEDED;
}

button:hover{
	background-color: black;
	color: white;
}

footer{
	height: 60px;
	background-color: #333;
	color: white;
	text-align: center;
}
#totop{
	width: 70px;
	height: 70px;
	border:	solid black 2px;
	border-radius: 36px;
	background-image: url(../images/arrow.png);
	position: fixed;
	top: 76%;
	left: 90%;
	z-index: 999;
}

/******Programs page******/
#main{
	padding-top: 110px;
	margin-bottom: 80px;
}

.title{
	border-bottom: solid 3px #1A81CB;
	display: table;
	margin: 0;
}
h1.line{
	padding: 30px;
}
h1.line:hover{
	cursor: pointer;
	background-color: #e6e6e6;
}
.current{
	color: white;
	background-color: #1A81CB;
}
h1.current:hover{
background-color: #1A81CB;
}
.text{
	width: 100%;
	padding-left: 20px;
}
.text p{
margin-bottom: 20px;
}
.text img{
	width: 300px;
	margin-bottom: 25px;
}
h2.line{
	margin-bottom: 10px;
}
.pics{
	width: 300px;
	float: right;
	margin-right: 45px;
	padding-left: 20px;
}
.stuff{
	display: flex;
}

#categories{
	border-right: solid 4px #1A81CB;
	height: 500px;
}
#youth, #immigrants, #businesses{
	display: none;
}
.small{
	display: none;
}
/******END Programs page******/
@media only screen and (max-width: 768px) {
	.main_h {
		padding-top: 25px;
	}
	#center p{
		width: 500px;
	}
	#logo{
		width: 140px;
	}  
  	nav {
    	width: 100%;
  	}
  	nav ul {
	    padding-top: 10px;
	    margin-bottom: 22px;
	    float: left;
	    text-align: center;
	    width: 100%;
  	}  
	nav ul li {
		width: 100%;
		padding: 7px 0;
		margin: 0;
	}
	.mobile-toggle {
		display: block;
	}

	/******Programs page******/
	h1.line{
		font-size: 22px;
		padding: 25px;
	}
	#categories{
		height: 628px;
	}
	.pics, .text img{
		width: 200px;
	}
	.text p{
		font-size: 18px;
	}
}
@media only screen and (max-width: 425px) {
	#center p{
		width: 300px;
		font-size: 18px;
	}
	#fade-right{
		width: 300px;
		left: 50px
	}
	/******Programs page******/
	.stuff{
		display: inherit;
	}
	#categories{
		display: flex;
		width: 100%;
		height: initial;
		margin: auto;
		border-right: none;
		border-bottom: solid 4px #1A81CB;
	}
	h1.line{
		font-size: 15px;
		padding: 12px 5px;
		margin: auto;
	}
	.text{
		padding-left: 0;
		height: 1270px;
	}
	.title, .text p{
		margin-left: 10px;
		margin-right: 10px;
	}
	.pics{
		display: none;
	}
	.text img{
		width: 100%;
		margin: 0;
	}	
	.small{
		display: block;
		padding: 30px 0;
	}
}